#File Types
*.pyc
*.tab
*.gz
*.zip
*.bin
*.gzip
*.csv
*.png
*.xls
*.ipynb
*.xlsm
*.log
*.html
*.js
*.xlsx
.env
.env.dev
.aws/credentials
.aws/config
.DS_Store
.idea
logs
test.*
test_folder
*.sqlite3
*.ipynb
testing.py
app/tasks/gig/images/gig_paul_avg.py
app/tasks/gig/images/gig_paul_peak.py


#Empty Folder
app/cwi_current/1_images/html/*
app/cwi_current/1_images/image_data/*
app/cwi_current/1_images/js/*
app/cwi_current/1_images/png/*
app/cwi_current/1_images/supplementary_data/*
app/cwi_current/2_tables/xlsx_files/*
app/GIG_current/02_Capacity_Traffic/1_images/html/*
app/GIG_current/02_Capacity_Traffic/1_images/image_data/*
app/GIG_current/02_Capacity_Traffic/1_images/js/*
app/GIG_current/02_Capacity_Traffic/1_images/png/*
app/GIG_current/02_Capacity_Traffic/2_tables/xlsx_files/*
app/dcrs_current/capacity/1_images/html/*
app/dcrs_current/capacity/1_images/image_data/*
app/dcrs_current/capacity/1_images/js/*
app/dcrs_current/capacity/1_images/png/*
app/dcrs_current/capacity/1_images/supplementary_data/*
app/dcrs_current/pricing/1_images/html/*
app/dcrs_current/pricing/1_images/image_data/*
app/dcrs_current/pricing/1_images/js/*
app/dcrs_current/pricing/1_images/png/*
app/dcrs_current/pricing/1_images/supplementary_data/*
app/dcrs_current/capacity/2_tables/xlsx_files/*
app/dcrs_current/capacity/2_tables/feedback_reports/*
app/dcrs_current/capacity/2_tables/supplementary_data/*
app/dcrs_current/pricing/2_tables/xlsx_files/*
app/dcrs_current/pricing/2_tables/feedback_reports/*
app/dcrs_current/pricing/2_tables/supplementary_data/*
app/gb_current/1_images/html/*
app/gb_current/1_images/image_data/*
app/gb_current/1_images/js/*
app/gb_current/1_images/png/*
app/gb_current/1_images/supplementary_data/*
app/gb_current/2_tables/xlsx_files/*
app/gbfs_current/1_images/html/*
app/gbfs_current/1_images/image_data/*
app/gbfs_current/1_images/js/*
app/gbfs_current/1_images/png/*
app/gbfs_current/2_tables/xlsx_files/*
app/iptfs_current/1_images/html/*
app/iptfs_current/1_images/image_data/*
app/iptfs_current/1_images/js/*
app/iptfs_current/1_images/png/*
app/iptfs_current/1_images/supplementary_data/*
app/tasks/chart_building/helper_functions/datanavigator_csvs/*


app/sql/cwi_sql_sync/*
app/sql/dcrs_sql_sync/*
app/sql/gb_sql_sync/*
app/sql/gbfs/*
app/sql/gc_sql_sync/*
app/sql/gig_sql_sync/*
app/sql/iptfs_sql_sync/*
app/sql/seeds/*
logs/*


#File Exceptions
!tg_logo.png
!logo.png
!app/GIG_current/02_Capacity_Traffic/2_tables/xlsx_files/sources/gig_sources_concentration.xlsx
!app/GIG_current/02_Capacity_Traffic/2_tables/xlsx_files/sources/gig-data.xlsx
!app/GIG_current/02_Capacity_Traffic/2_tables/xlsx_files/sources/Survey_Questions_2020.xlsx
!Example_Chart.ipynb
!*.gitkeep


#credentials
app/tasks/google_api/token.pickle
app/tasks/google_api/credentials.json
